<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>968628203638-aq4ck26jk3m5863von96kqqis93hvca7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968628203638-aq4ck26jk3m5863von96kqqis93hvca7</string>
	<key>API_KEY</key>
	<string>AIzaSyD-AFV4pXd-fHAqxOV2OS4lFX7i2zu1090</string>
	<key>GCM_SENDER_ID</key>
	<string>968628203638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trado.tradoproto1</string>
	<key>PROJECT_ID</key>
	<string>trado-76c74</string>
	<key>STORAGE_BUCKET</key>
	<string>trado-76c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968628203638:ios:d823ab548b97c8da</string>
	<key>DATABASE_URL</key>
	<string>https://trado-76c74.firebaseio.com</string>
</dict>
</plist>